
/*Home Page */

.topHeader{
    padding: 1em;   
    background-color: gray;
}

.welcomeUser{
    color: white;
}

.Logout{
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: white;
    margin: 1em;
    transition: all .8s;
    -webkit-transition: all 0.4s;
}

.Logout:hover{
    color: white;
}

.ModuleTile{
        color: white;
    font-size: 1em;

    background-color: black;
    transition: all .2s ease-in-out;
    height: 12.5em;
    width: 17.2em;
}

.ModuleTile:hover{
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.ModuleHeading{
    text-transform: uppercase;
    text-align: center;
    padding-top: 33%;
    letter-spacing: 2px;
}


.padding1{
    padding: .1em;
}


/*Resizable Table*/
body {
  font-family: Arial;
  font-size: 10pt;
}
table#demo-table th {
  background-color: #006;
  color: #fff;
}
table#demo-table th, 
table#demo-table td {
  white-space: nowrap;
  padding: 3px 6px;
}
table.cellpadding-0 td {
	padding: 0;
}
table.cellspacing-0 {
	border-spacing: 0;
	border-collapse: collapse;
}
table.bordered th, 
table.bordered td {
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
}
table.bordered th:last, 
table.bordered td:last {
  border-right: 1px solid #ccc;
}