
/*Home Page */

.topHeader{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-image: radial-gradient(circle at 0 0, #3ba5ff, #4784ff 98%);}

.topSecondHeader{
    font-weight: 700;
    padding-top: 3em;
    font-family: Poppins-Regular;
    padding-left: 3em;
    color: black;
}

.consAnal{
    font-weight: 700;
    color: black;
    letter-spacing: 5px;}

.welcomeUser{
    color: white;
    font-family: Poppins-Regular;
}

.Logout{
    letter-spacing: 2px;
    font-family: Poppins-Regular;
    font-size: 1em;
    line-height: 1.7;
    color: white;
    margin: 1em;}

.Logout:hover{
    color: white;
}

.ModuleTile{
    font-weight: 700;
    display: block;
    margin-bottom: 2px;
    color: white;
    font-size: 1em;
    transition: all .3s ease-in-out;
    height: 11em;
    width: 100%;}

.ModuleTile:hover{
    font-size: 1em;
    color: black;
    background-color: white;
}

.ModuleHeading{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30%;
    letter-spacing: 2px;
}


.padding1{
    padding-top: 2em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
}


/*Resizable Table*/
body {
    font-family: Arial;
    font-size: 10pt;
}
table#demo-table th {
    background-color: #006;
    color: #fff;
}
table#demo-table th, 
table#demo-table td {
    white-space: nowrap;
    padding: 3px 6px;
}
table.cellpadding-0 td {
    padding: 0;
}
table.cellspacing-0 {
    border-spacing: 0;
    border-collapse: collapse;
}
table.bordered th, 
table.bordered td {
    border: 1px solid #ccc;
    border-right: none;
    text-align: center;
}
table.bordered th:last, 
table.bordered td:last {
    border-right: 1px solid #ccc;
}

/*Sidebar*/
.vertical-menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.vertical-menu a {
  display: block;
  position: relative;
  padding: 1rem;
  background-image: linear-gradient(to right, #212529 0%, #212529 50%, #6c757d 50.9999%);
  background-size: 200% 100%;
  background-position: 100% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.vertical-menu a:hover {
  background-position: 0% 0%;
}

.vertical-menu a.active {
  /* background-image: linear-gradient(to right, #0038A8, #9B4F96, #D60270); */
  background-image: linear-gradient(to right, #0038A8, #D60270);
  background-size: 100% 100%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.vertical-menu a::before {
  content: '';
  display: block;
  position: absolute;
  top: .875rem;
  left: .125rem;
  width: 0;
  height: 1.5rem;
  background-color: #6c757d;
  transition: all .2s ease-in-out;
}

.vertical-menu a:hover::before {
  width: .25rem;
  background-color: #212529;
}

.indicator {
  display: block;
  position: absolute;
  top: .875rem;
  left: .125rem;
  width: .375rem;
  height: 1.5rem;
  background-color: #0038A8;
  z-index: 1;
}